* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.mainSectionFull {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 80px;
}

.mainSectionRetracted {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
  padding: 40px 100px;
}

.quoteContainerHide {
  display: none;
}

.quoteContainer {
  font-size: 18px;
  max-width: 540px;
  display: flex;
  margin-bottom: 120px;
}

.quote {
  line-height: 28px;
}

.quoteAuthor {
  font-weight: 700;
  margin-top: 10px;
}

.refreshBtn {
  margin-top: 5px;
  margin-left: 15px;
}

.greeting {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.greeting span {
  margin-left: 15px;
  letter-spacing: 5px;
  font-size: 20px;
}

.hour {
  font-size: 200px;
  letter-spacing: -5px;
  font-weight: 700;
}

.location {
  font-size: 24px;
  letter-spacing: 4.5px;
}

.detailsBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 60px;
  background-color: white;
  border-radius: 28px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: 5px;
  padding: 15px;
  cursor: pointer;
}

.additionalInfo {
  height: 50vh;
  width: 100%;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.secondColumn {
  margin-right: -125px;
  margin-left: 75px;
}

.firstInfoContainer {
  margin-bottom: 40px;
}

.label {
  font-size: 15px;
}

.info {
  font-size: 56px;
  font-weight: 700;
}

.separator {
  width: 1px;
  height: 250px;
  background-color: #979797;
}

@media (max-width: 1024px) {
  .mainSectionFull {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
  }

  .mainSectionRetracted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
  }

  .quoteContainer {
    max-width: 100%;
  }

  .detailsBtn {
    margin-top: 30px;
  }

  .additionalInfo {
    padding: 50px;
  }

  .hour {
    font-size: 175px;
  }

  .separator {
    display: none;
  }
}

@media (max-width: 768px) {
  .mainSectionFull {
    padding: 30px;
  }

  .mainSectionRetracted {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .quoteContainer {
    max-width: 80%;
  }

  .hour {
    font-size: 150px;
    margin-top: 20px;
  }

  .detailsBtn {
    margin-bottom: 40px;
  }

  .additionalInfo {
    display: block;
    padding: 30px;
  }

  .column {
    width: 100%;
  }

  .secondColumn {
    margin: 0;
  }

  .firstInfoContainer {
    margin: 0;
  }

  .infoContainer {
    margin-top: 20px;
  }

  .info {
    font-size: 30px;
  }
}
